<!DOCTYPE html>
<html ng-app="currconverterApp">
<head>
    <title>PROJECT-ANJS</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    
    
    <div ng-controller="currconverterCtrl" class="wrapper">
        <span>CURRENCY CONVERTER</span>
        <p id="amt">Amount</p>
        <input ng-model="amount" type="number" placeholder="Amount" min="1">
        <div class="drop-list">
            <div class="from">
                <p>From</p>
                <div class="select-box">
                    <img ng-src="fromFlag" src="{{fromFlag}}" alt="">
                    <select ng-model="fromCurrency" class="FromCurrency" ng-options="value as value for (key, value) in country_list"  >
                        <option value="">SELECT OPTION</option>
                    </select>
                </div>
            </div>
          
            <div class="to">
                <p>TO</p>
                <div class="select-box">
                    <img ng-src="toFlag" src="{{toFlag}}" alt="">
                    <select ng-model="toCurrency" class="toCurrency" ng-options="value as value for (key, value) in country_list">
                        <option value="">SELECT OPTION</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="rate" ng-show="showResult"><p>{{amount}} {{fromCurrencyCode}} = {{conversionResult}} {{toCurrencyCode}} </p></div>
        <button ng-click="convertCurrency()">CONVERT</button>
    </div>
    
    <script src="./prog.js">
        
    </script>
   
</body>
</html>
